config {
    testsDir = "."
    workDir = System.getenv("NFT_WORKDIR") ?: ".nf-test"
    configFile = "tests/nextflow.config"
    profile = ""
    triggers = [
        "bin/*",
        "main.nf",
        "modules/local/**",
        "nextflow.config",
        "nf-test.config",
        "tests/**"
    ]
}
